/* #=============== navbar css=============# */

.navbar{
    position: fixed;
    width: 100%;
    z-index: 99;
    background-color: #111;
    opacity: 0.9;
  }
  .navbar-light .navbar-nav .nav-item{
    padding: 10px 10px;
  }
  .navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    outline: none;
  }
  .navbar-light .navbar-brand {
    color: #fff;
    font-family: "Lobster", sans-serif;
    font-size: 35px;
    font-weight: 700;
  }
  .navbar-toggler i{
    color: #ffffff;
  }
  .navbar-light .navbar-toggler {
    border: none;
    color: #4d89e2;
  }
  .navbar-light .navbar-brand span{
    color: #4d89e2;
    font-family: "Lobster", sans-serif;
    font-size: 35px;
    font-weight: 700;
  }
  .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #fff;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-family: "Philosopher", sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
  }
  
  .navbar-light .navbar-nav .nav-link::before{
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background-color: #4d89e2;
    bottom:-5px;
    left: 0;
    transition: all linear 0.5s;
  }
  .navbar-light .navbar-nav .nav-link:hover:before{
    width: 100%;
  }
  .navbar-light .navbar-nav .nav-link.active{
    color: #4d89e2;
  }
  .navbar-light .navbar-nav .nav-link.active::before{
  width: 100%;
  }
  
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#4d89e2;
  }

/* ============== Banner ============= */
#banner{
  position: relative;
  padding: 300px 0 120px 0;
  background-image: url(../images/banner.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#banner::before {
  position: absolute;
  background-image: linear-gradient(#222,#222);
  opacity: 0.9;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
}
.banner_text h3{
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}
.banner_text h3 span{
  color: #4d89e2;
  font-family: "Philosopher", sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}
.banner_text h1{
  color: #fff;
  font-family: "Lobster", sans-serif;
  font-size: 100px;
  font-weight: 700;
}
.banner_text span{
  color: #4d89e2;
  font-family: "Lobster", sans-serif;
  font-size: 110px;
  font-weight: 700;
  text-transform: capitalize;
}
.banner_text h5 {
  padding-top: 10px;
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
}
.banner_text h5 span{
  padding-top: 10px;
  color: #4d89e2;
  font-family: "Philosopher", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-transform: capitalize;
}

/* ============= about ============== */

#about{
  padding: 50px 0 80px 0;
  background-color: #111;
}

.about_header h2{
  color: #4d89e2;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.about_header p{
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding-bottom: 50px;
  padding-top: 20px;
  text-transform: capitalize;
}
.about_little_img img{
  border: 5px solid #4d89e2;
  outline: 3px dotted #fff ;
  border-radius: 50%;
  width: 100%;
}
.about_little_text h3{
  color: #4d89e2;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 27px;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.about_little_txt p{
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.about_little_txt h5{
  color: #4d89e2;
  font-family: "Lobster", sans-serif;
  font-weight: 700;
  font-size: 27px;
}
.progressbar_heading h3{
  color: #4d89e2;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 27px;
  text-transform: capitalize;
  padding-bottom: 20px;
}
.progress-bar {
	background-color: #4d89e2;
}
.divtext p{
  color: #fff;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 5px;
}

/* ================= Cound Up ================  */

#CoundUp{
  padding: 100px 0 70px 0;
}
.CoundUp_text i{
  font-size: 70px;
  color: #222;
  padding-bottom: 30px;
}
.CoundUp_text h4{
  font-family: "Lobster", sans-serif;
  font-size: 35px;
  font-weight: 700;
}
.CoundUp_text h6{
  font-family: "Philosopher", sans-serif; 
  font-size: 25px;
  font-weight: 400;
}

/* ============= Portfolio ============ */
#Portfolio{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition:all .2s cubic-bezier(.34,1.12,.68,1.31);
}
.gallery{
  min-height: 100vh;
  background:#eee;
  padding-bottom: 100px;
}
.gallery h2{
  padding-top: 20px;
  padding-bottom: 30px;
  color: #4d89e2;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 40px;
}
.gallery .controls{
  font-family: "Philosopher", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding:20px 0;
  list-style: none;
}

.gallery .controls .buttons{
  height:40px;
  width: 140px;
  background:#fff;
  color: #222;
  font-size: 20px;
  line-height: 40px;
  cursor: pointer;
  margin:20px;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  text-align: center;
}

.gallery .controls .buttons.active{
  background:#4d89e2;
  color:#fff;
}

.gallery .image-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery .image-container .image{
  height:200px;
  width: 350px;
  overflow: hidden;
  border:10px solid #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,.3);
  margin: 20px;
}

.gallery .image-container .image img{
  height: 100%;
  width:100%;
  object-fit: cover;
}

.gallery .image-container .image:hover img{
  transform: scale(1.5);
}

/* ============= comments ============= */

#comments{
  padding: 50px 0 50px;
  background-image: url(../images/sky11.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
#comments::before {
  position: absolute;
  background-image: linear-gradient(#222,#222);
  opacity: 0.9;
  top: 0;
  left: 0;
  content: '';
  height: 100%;
  width: 100%;
}
.comment_text img{
  height: 330px;
  border-radius: 50%;
  border: 5px solid #4d89e2;
}
.comment_text p{
  padding-top: 30px;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}
.comment_text h4{
  padding-top: 20px;
  font-family: "Lobster", sans-serif; 
  font-weight: 400;
  font-size: 30px;
  color: #4d89e2;
}


/* ================= updates =============== */
#updates{
  padding: 50px 0 50px 0;
}
.update_text h2{
  color: #4d89e2;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-transform: capitalize;
  padding-bottom: 40px;
}
.card-body i{
  color: #4d89e2;
  font-size: 25px;
  padding: 0 10px;
}
.card-body p{
  font-size: 18px;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  padding-top: 10px;
}
.card-body h6{
  font-size: 18px;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  color: #4d89e2;
}

/* ============ contact ============ */
#contact{
  padding: 50px 0 10px 0;
  background-color: #222;
}
.contract_logo h2{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #fff;
  text-transform: capitalize;
}
.contract_logo h2 span{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #4d89e2;
}
.contract_logo_icon i{
  color: #fff;
  font-size: 24px;
  padding: 30px 10px 0px 10px;
}
.contract_logo_icon i:hover{
  color: #4d89e2;
}
.regiForm h2{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #fff;
  padding-bottom: 30px;
  text-transform: capitalize;
}
.regiForm p{
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: inline-block;
  padding: 5px 20px;
  color: #fff;
  background-color: #4d89e2;
  border-radius: 10px;
  border: 3px solid #fff;
}
.regiForm p:hover{
  background-color: #fff;
  color: #4d89e2;
  border: 3px solid #4d89e2;
}
.modal-header{
  background-color: #4d89e2;
  color: #fff;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 50px;
}
.modal-header h5{
  color: #fff;
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 30px;
}
.from_body label{
  color: #4d89e2;
  font-size: 20px;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.from_body input::placeholder{
  font-size: 16px;
  text-transform: capitalize;
}
.modal-footer{
background-color: #4d89e2;
}
.modal-footer .submit {
  padding: 5px 10px;
  color: #4d89e2;
  background-color: #fff;
}
.learnMore h2{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #fff;
  text-transform: capitalize;
}
.learnMore_link a{
  text-decoration: none;
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 20px;
  display: block;
  text-transform: capitalize;
}
.learnMore_link a:hover{
  background-color: #fff;
  color: #4d89e2;
  border-radius: 20px;
}
.contact_info h2{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 35px;
  color: #fff;
  text-transform: capitalize;
}
.contact_info p{
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.contact_info p:hover{
  background-color: #fff;
  color: #4d89e2;
  border-radius: 20px;
}
.end span{
  color: #4d89e2;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  padding-top: 30px;
  font-size: 18px;
}
.end p{
  color: #fff;
  font-family: "Philosopher", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding-top: 30px;
}


  /* font-family: "Philosopher", sans-serif;
  font-family: "Lobster", sans-serif; */